@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', 'Segoe UI', sans-serif;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 78px;
    top: 0;
    left: 0;
    padding: 8px 10px;
    background: rgb(27, 27, 27);
    transition: all 0.5s ease;
    z-index: 1;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.13);
}

.sidebar.active{
    width: 280px;
}

/* Start of Logo Area */

.sidebar__logo-container{
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease-out;
    margin-left: 16px;
    transform: translateX(-20px);
}

.sidebar.active .sidebar__logo-container{
    opacity: 1;
    transform: translateX(0);
    pointer-events: none;
    transition-delay: 0.25s;
}

.sidebar__logo-icon{
    font-size: 32px;
}

.sidebar__logo-text{
    font-size: 23px;
    font-weight: 700px;
}

/* .sidebar #btn{
    color: #fff;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 9px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
} */

/* End of Logo Area */

/* Start of Navigation Area */
.sidebar__nav-list{
    margin-top: 32px;
    list-style: none;
    padding-right: 12px;
}

.sidebar__nav-item,
.sidebar.active .sidebar__nav-item{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 5px;
}

.sidebar__nav-item{
    width: 50px;
    transition: all 0.5s ease;
}

.sidebar.active .sidebar__nav-item--searchBox {
    margin-bottom: 36px;
    transition: all ease-out 0.5s;
}

.sidebar__nav-item .tooltip{
    position: absolute;
    height: 35px;
    width: 122px;
    left: 122px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .sidebar__nav-item .tooltip{
    display: none;
}

.sidebar__nav-item:hover .tooltip{
    top: 50%;
    transition: all 0.25s ease;
    opacity: 1;
}

.sidebar__nav-link{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: all 0.1s ease;
    white-space: nowrap;
    width: 100%;
    height: 50px;
}


.sidebar.active .sidebar__nav-link:hover,
.sidebar__nav-link:hover{
    background: #fff;
    color:rgb(27, 27, 27);
}

.sidebar .sidebar__nav-link--non-hover:hover {
    background: transparent!important;
}


i.sidebar__nav-icon{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.sidebar__nav-text{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-20px);
}
.sidebar.active .sidebar__nav-text{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);    
    transition: transform 0.3s ease-out 0.5s, opacity 0.3s ease-out 0.5s; 
}


.sidebar__nav-input{
    padding-left: 50px;
    border-radius: 20px;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    outline: none;
    border: none;
    background:rgb(59, 59, 59);
    color: rgb(255, 255, 255);
}

.sidebar__nav-input::placeholder{
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.404);
}

.sidebar .sidebar__nav-search-icon{
    color:rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease;
    border-radius: 20px;
}

.sidebar .sidebar__nav-search-icon:hover{
    background: #fff;
    color:rgb(59, 59, 59);
}

.sidebar.active .sidebar__nav-search-icon:hover{
    background: rgb(59, 59, 59);
    color: #FFF;
  }

/* End of Navigation Area */

/* Start of Profile Area */
.sidebar__profile{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar__profile-container{
    position: relative;
    padding: 10px 6px;
    height: 60px;
}

.sidebar.active .sidebar__profile-container{
    background: none;
    background:rgb(59, 59, 59);
    
}

.sidebar__profile-details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.4s ease;
}

.sidebar.active .sidebar__profile-details{
    opacity: 1;
    pointer-events: auto;
}

.sidebar__profile-img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.sidebar__profile-info{
    margin-left: 10px;
}
    
.sidebar__profile-name{
    opacity: 0;
    font-size: 15px;
    font-weight: 400;
    transform: translateX(-20px);
}

.sidebar.active .sidebar__profile-name{
    opacity: 1;
    transform: translateX(0);    
    transition: transform 0.3s ease-out 1s, opacity 0.3s ease-out 1s; 
}

.sidebar__profile-job{
    font-size: 12px;
    opacity: 0;
    transform: translateY(12px);
}

.sidebar.active .sidebar__profile-job{
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.3s ease-out 1.2s, opacity 0.3s ease-out 1.2s; 
}

.sidebar__btn-container {
    position: absolute;
    left: 47%;
    bottom: 5px;
    transform: translateX(-50%);
    border-radius: 12px;
    text-align: center;
    background: rgb(59, 59, 59);
    transition: all 0.4s ease;
}

.sidebar .sidebar__log-out-btn{
    cursor: pointer;
    min-width: 50px;
    line-height: 50px;
    transform: translateX(-3px);
    font-size: 28px;
    
}

.sidebar.active .sidebar__btn-container{
    background:none;
    left: 90%;
}

/* End of Profile Area */

